    body {background-color: black;} /* vielleicht nochmal boder einbauen etc*/

    h1 {color: white; text-align:center; font-size: 600%; font-family: Arial, Helvetica, sans-serif;}

    h2 {color: white;text-align: center; font-size: 200%; font-family: Arial, Helvetica, sans-serif; text-decoration: none}

    h3 {color: white;text-align: center;font-size: 150%; font-family: Arial, Helvetica, sans-serif; text-decoration: none}

    h4 {color: white;text-align: center; font-size: 100%; font-family: Arial, Helvetica, sans-serif;}

    p {color: white;text-align: center; font-size: 100%; font-family: Arial, Helvetica, sans-serif;display: block; margin-left: 8em; margin-right: 8em;}

    li {color: white;font-size: 100%; text-align: justify; font-family: Arial, Helvetica, sans-serif;}

    header{
        background-color: black; color:white; font-family: Arial, Helvetica, sans-serif;font-size: 150%;text-align: center; border-bottom: white solid 2px;}
        
    footer{
        background-color: black; color:white; font-family: Arial, Helvetica, sans-serif;font-size: 150%;text-align: center; border-top: 2px solid white; padding-top: 10px;}

    .lukas /* zur main page zurück */ { 
    height: 25px; width: 20px;
    } 
    /* Bilder*/
    .spare{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%; height: auto;}
        
    .Chicken{ 
        display: block;
        margin-left: auto;
        margin-right: auto;}

    .Burger{
        display: block;
        margin-left: auto;
        margin-right: auto;}

    /* restliche Formatierungen*/ 
    .tabelle{ 
        background-color: black; color:white; font-family: Arial, Helvetica, sans-serif;font-size: 150%;text-align: center; border-collapse: separate;
        margin-left: auto; margin-right: auto; border: white solid 2px; margin-bottom: 20px;}

    .text{
        color: white;text-align: justify;  font-size: 100%; font-family: Arial, Helvetica, sans-serif; display: block;border: 200px black
        margin-left: auto; margin-right: auto; } /* nochmals überprüfen*/

    .list{ color: white; display: block;
        margin-left: auto; margin-right: auto;  border: solid white 4px} /* nochmals überprüfen*/

    .news{ zoom: 4; 
        margin-left: auto;
        margin-right: auto;
         } 

    .quelle { text-decoration: none; color: white; }

    .titelbild {
        display: block;
        margin-left: auto;
        margin-right: auto; -webkit-clip-path: circle(50.0% at 50% 50%);
        clip-path: circle(50.0% at 50% 50%); width:102%; height: auto; margin-top: 40px; margin-bottom: 40px;
    }
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);}


    .maincontent{ margin-top: 0px;}

        
    .Grills{ background-color: black; color:white; font-family: Arial, Helvetica, sans-serif;font-size: 150%;text-align: center; border-collapse: separate;
        margin-left: auto; margin-right: auto; border: white solid 2px; margin-bottom: 20px;flex-wrap: wrap;}
    }

    .grid-container {
        display: grid;
        grid-gap: 10px;
        background-color: #2196F3;
        padding: 10px;
        }     
        .grid-item {
            background-color:black;
            text-align: center;
            padding: 20px;
            font-size: 30px;
            }

            @media only screen and (min-width: 768px) {
                .item1 { grid-column: 1 / span 12; grid-row: 1; }
                .item2 { grid-column: 1 / span 6; grid-row: 2; }
                .item3 { grid-column: 7 / span 6; grid-row: 2; }
                .item4 { grid-column: 1 / span 3; grid-row: 3; }
                .item5 { grid-column: 4 / span 6; grid-row: 3; }
                .item6 { grid-column: 10 / span 3; grid-row: 3; }
                .item7 { grid-column: 1 / span 4; grid-row: 4; }
                .item8 { grid-column: 5 / span 8; grid-row: 4; }           
            }

    .ingredients{position: static;

    }
    .instructions{position: static


    }