   
         

   
   /* Basics */
        body {background-color:white;} 

        h1 {font-family: 'Domine', serif; font-size: 300%;}

        h2 {color: black;text-align: center; font-size: 200%; font-family: 'Times New Roman', Times, serif;}

        h3 {color:black;text-align: center;font-size: 150%; font-family: 'Times New Roman', Times, serif; }

        h4 {color: black;text-align: center; font-size: 100%; font-family: 'Times New Roman', Times, serif;}

        p { }

        li {color: black;font-size: 100%; text-align: justify; font-family: 'Times New Roman', Times, serif;}

        header{
            background-color:white; font-family: Arial, Helvetica, sans-serif;font-size: 150%;text-align: center; border-bottom: white solid 2px;}
            
            header::after {content:''; display: table; clear: both;}
            
        footer{ 
            background-color: white; font-family: Arial, Helvetica, sans-serif;font-size: 150%;text-align: center; border-top: 2px solid white; padding-top: 10px;}


/* Navbar */

        .Logo{float: left; zoom: 0.09;}

        .topnav {float: right; padding-right: 20px; }
          
        nav ul {margin: 0; padding: 0; list-style: none;}

        nav li { display: inline-block; margin-left: 100px; padding-top: 30px; position: relative; }

        nav a {color: grey; text-decoration: none;}

        nav ul li a:hover {color: black;} 
         
        nav ul li a::before {content:''; display: block; height: 5px ;background-color: black; position: absolute; top: 0; width: 0%; transition: all ease-in-out 250ms;}

        nav ul li a:hover::before { width: 100%;}

      

    /* Indexseite*/
        .TITELBILD{ border-radius: 50% / 50% ; width: 40%; height: auto;}
        
        .TITEL {}
        


   
         .home /* zur main page zurück */ { 
    height: 23px; width: 20px;
    } 


    /* Bilder*/
        .spare{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 40%; height: auto;}
            
        .Chicken{ 
            display: block;
            margin-left: auto;
            margin-right: auto;}

        .Burger{
            display: block;
            margin-left: auto;
            margin-right: auto;}

    /* restliche Formatierungen*/ 
        .tabelle{ 
            background-color: black; color:white; font-family: Arial, Helvetica, sans-serif;font-size: 150%;text-align: center; border-collapse: separate;
            margin-left: auto; margin-right: auto; border: white solid 2px; margin-bottom: 20px;}

        .text{
            color: white;text-align: justify;  font-size: 100%; font-family: Arial, Helvetica, sans-serif; display: block;border: 200px black
            margin-left: auto; margin-right: auto; } /* nochmals überprüfen*/

        .list{ color: white; display: block;
            margin-left: auto; margin-right: auto;  border: solid white 4px} /* nochmals überprüfen*/

        .news{ color: white;
            } 

        .quelle { text-decoration: none; color: white; }

   

        
    .Grills{ background-color: black; color:white; font-family: Arial, Helvetica, sans-serif;font-size: 150%;text-align: center; border-collapse: separate;
        margin-left: auto; margin-right: auto; border: white solid 2px; margin-bottom: 20px;flex-wrap: wrap; }

    
  
   




   


  
  
  