    body {
    background-color: black;
}
    h1 {color: white; text-align:center; font-size: 400%; font-family: Arial, Helvetica, sans-serif;}

    h2 {color: white;text-align: center; font-size: 200%; font-family: Arial, Helvetica, sans-serif;}

    h3 {color: white;text-align: center;font-size: 150%; font-family: Arial, Helvetica, sans-serif;}

    h4 {color: white;text-align: center; font-size: 100%; font-family: Arial, Helvetica, sans-serif;}

    p {color: white;text-align: center; font-size: 100%; font-family: Arial, Helvetica, sans-serif;display: block; margin-left: 8em; margin-right: 8em;}

    li {color: white;font-size: 100%; text-align: justify; font-family: Arial, Helvetica, sans-serif; border: white solid 4px;}


    header{
        background-color: black; color:white; font-family: Arial, Helvetica, sans-serif;font-size: 150%;text-align: center; border-bottom: white solid 4 px;}
        
    footer{
        background-color: black; color:white; font-family: Arial, Helvetica, sans-serif;font-size: 150%;text-align: center; border-top: 2px solid white;}

    .lukas /* zur main page zurück */ { 
    height: 25px; width: 20px;
    } 
    /* Bilder*/
    .spare{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%; height: auto;}
        
    .Chicken{ 
        display: block;
        margin-left: auto;
        margin-right: auto; 
    }

    .Burger{
        display: block;
        margin-left: auto;
        margin-right: auto; 
    }
    /* restliche Formatierungen*/ 
    .tabelle{ 
        background-color: black; color:white; font-family: Arial, Helvetica, sans-serif;font-size: 150%;text-align: center; border-collapse: separate;
        margin-left: auto; margin-right: auto; border-spacing:50px 30px; border: white solid 10px;}

    .text{
        color: white;text-align: justify;  font-size: 100%; font-family: Arial, Helvetica, sans-serif; display: block;border: 200px black
        margin-left: auto; margin-right: auto; border-spacing:50px 30px;}

    .list{ color: white; display: block;
        margin-left: auto; margin-right: auto; border-spacing:50px 30px;}

    .news{display: block;
        margin-left: auto;
        margin-right: auto;
        border-spacing:50px 30px; }

    .quelle { text-decoration: none; color: white;


    }
